body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    font-size: 18px;
    padding-left: 80px;
    padding-right: 80px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-top: 10px;
    font-weight: 700;
}

.header {
    justify-content: space-between;
    margin-bottom: 0px;
}

.footer {
    justify-content: center;
}

.header ul {
    list-style: none;
    display: flex;
    padding-right: 10px;
}

.header li {
    margin-left: 30px;
}

.hero {
    background-color: #1f2937;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 60px;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    width: 48%;
}

.imgcontainer {
    background-color: lightslategray;
    width: 48%;
    max-width: 500px;
    height: 250px;
    max-height: 250px;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 1000;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.content-text {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.card-container {
    display: flex;
    padding: 20px 30px;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    width: 140px;
}

.card-info {
    text-align: center;
}

.quote-banner {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.quotecontainer {
    max-width: 1000px;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 10px 100px;
}

.quotesigncontainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 100px;
}

.quotesign {
    font-weight: 700;
    color: #1f2937;
    justify-content: end;
}

.calltoaction {
    display: flex;
    justify-content: center;
}

.ctabanner {
    display: flex;
    background-color: #3882f6;
    padding: 30px 80px;
    border-radius: 10px;
    color:#f9faf8;
    max-width: 700px;
    margin: 40px;
}

.ctatext1 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ctatext2 {
    padding-bottom: 10px;
}

.hero .signup {
    margin-left: 0px;
}

.signup {
    padding: 10px 35px;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    margin-left: 50px;
    
}

.signup:hover {
    color:#1f2937;
    background-color: #e5e7eb;
}

.card img {
    border: 3px solid #3882f6;
    border-radius: 7px;
    height: 140px;
    width: 140px;
}

.footer {
    padding: 25px;
}